<body style="height: 100vh; overflow-y: auto; background-color: #ecf0f1;">
  <center>
    <div class="pg-container" id="pg-home">
      <h1 style="margin:0; padding: 0; margin-top: 25vh; border-radius: 0; text-decoration:none; outline:none; color:#34393F; width: 100%; background: transparent; border:none; font-family: 'Roboto', sans-serif; font-size: 80px; font-weight: 900; letter-spacing: -7px; text-align:left; line-height: 55px; padding: 50px;">PASA<br><span style="color: #2FAFAE;">PAG-ASA</span>
        <%= link_to '', sign_in_path, class: 'glyphicon glyphicon-arrow-right', style: 'font-size: 40px; color:#34393F; text-decoration:none; margin-left: 17px;' %>
      </h1>
      <p style="font-family: 'Roboto', sans-serif; font-size: 18px; font-weight: 300; text-align:left; padding-left: 53px; margin-top: -35px; letter-spacing: 2.5px; color:#34393F;">mga maliliit na tangkang magmahal<!-- <button style="background:transparent; text-decoration:none; border:none; outline:none; margin: 0; padding: 0"><span class="glyphicon glyphicon-arrow-right" style="margin-left: 10px; font-size: 16px; color:black; background:transparent;"></span></button></p> -->
    </div>
  </center>
</body>