<body style="height: 100vh; overflow-y: auto; background-color: #ecf0f1;">
  <center>
    <div class="pg-container" id="pg-signin" style="background-color: #34393F;">
      <div style="margin-top: 25vh; background-color:#ecf0f1; height: 450px;">
        <h1 style="padding-top: 50px; width: 101%; color: #34393F; font-family: 'Roboto', sans-serif; font-size: 30px; font-weight: 900; letter-spacing: 3px; ">REGISTER</h1>
        <div style="text-align:left; padding: 50px;">
          <input style="margin: 0; padding: 10px; width: 100%; height: 40px; color: white; background-color: #34393F; outline:none; border:none; font-family: 'Roboto', sans-serif; border-bottom: 1px solid #ecf0f1;" placeholder="Name" >
          <input style="margin: 0; padding: 10px; width: 100%; height: 40px; color: white; background-color: #34393F; outline:none; border:none; font-family: 'Roboto', sans-serif; border-bottom: 1px solid #ecf0f1;" placeholder="E-mail address">
          <input style="margin:0; padding: 10px; width: 100%; height: 40px; color: white; background-color: #34393F; outline:none; border:none; font-family: 'Roboto', sans-serif; border-bottom: 1px solid #ecf0f1;" placeholder="Mobile">
          <input type="password" style="margin:0; padding: 10px; width: 100%; height: 40px; color: white; background-color: #34393F; outline:none; border:none; font-family: 'Roboto', sans-serif;" placeholder="Password">
          <%= link_to 'Sign Up', confirmation_path, style: "text-decoration: none; height: 40px; width: 85px; margin-top: 30px; float:right; color:white; font-family: 'Roboto', sans-serif; font-size: 13px; background-color: #34393F; border:none; font-weight: 300; letter-spacing: 1.1px; text-align:center; padding-top: 10px;" %>
        </div>
      </div>
    </div>
  </center>
</body>