</body><body style="height: 100vh; overflow-y: auto; background-color: #ecf0f1;">
  <center>
    <div class="pg-container" id="pg-thanks">
      <h1 style="margin:0; padding: 0; margin-top: 20vh; border-radius: 0; text-decoration:none; outline:none; color:#34393F; width: 100%; background: transparent; border:none; font-family: 'Roboto', sans-serif; font-size: 70px; font-weight: 900; letter-spacing: -7px; text-align:left; line-height: 55px; padding: 50px;">SALAMAT<br>SA PAG<span style="color: #2FAFAE;">PASA</span><br>NG <span style="color: #2FAFAE;">PAG-ASA</span>!
      </h1>
    </div>
  </center>
</body>