/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require twitter-bootstrap-static/sprites
 */

.pg-container{
  width: 500px;
  height: 100vh;
  border: 5px solid #34393F;
}

#pg-home:before{
    content: ' ';
    display: block;
    position:fixed;
    height: 99vh;
    width: 495px;
    opacity: 0.6;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#pg-home:before {
  background-image: url('/assets/kids.jpg');
  background-attachment: fixed;
}

#pg-thanks:before{
    content: ' ';
    display: block;
    position:fixed;
    height: 99vh;
    width: 495px;
    opacity: 0.7;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#pg-thanks:before {
  background-image: url('/assets/kids.jpg');
  background-attachment: fixed;
}